.card {
    border: none;
    margin-bottom: 30px;
}

.card-bg {
    background-color: #EFEFEF !important;
}

.project-list-margin {
    margin-top: 40px;
    margin-bottom: 40px;
}

.category-bg {
    background-color: #4C6FFD !important;
}

.card-a {
    color : #4C6FFD !important;
}
