.btn-primary {
    background-color: transparent !important;
    color: #4C6FFD !important;
 
}

    .btn-primary:hover {
        background-color: #4C6FFD !important;
        color: #fff !important;
    }









